.custom-anchor {
  &-navigation {
    padding: 1rem;
    font-size: larger;
    text-decoration: none;
    color: black;
  }
  &-navigation:hover {
    text-decoration: underline;
  }

  &-breadcrumb{
    font-size: large;
    text-decoration: none;
    color: black;

    & [aria-current=page] {
      background-color: #bbb;
      color: #000;
    }
  }

  &-breadcrumb:hover{
    text-decoration: underline;
  }
}