.custom-nav{
  width: 100%;
  height: 6rem;
  background-color: red;
  box-shadow: 0 0.3rem #888888;

  & a > img {
    width: 4rem;
    height: 4rem;
  }

  & a {
    display: inline-block;
    vertical-align: top;
    line-height: 4rem;
  }

  [aria-current=page] {
    background-color: #bbb;
    color: #000;
  }

}